.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 80px;
  button {
    cursor: pointer;
    border: none;
    padding: 20px;
    font-family: "Roboto";
    font-size: 1rem;
    &:hover {
      opacity: 0.8;
    }
  }
}
